

.game__area__zone {
    background: white;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 2px solid rgba(207,216,220,0.71);

}



.game__area__buttons {

}

.btn {
    margin-left: 5px;
    font-size: larger;
}

.ai__zone {
    position: absolute;
    left: 30px;
}

.human__zone {
    position: absolute;
    right: 30px;
}

